<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Progect</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/icomoon-font-icon.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <noscript>
        <div>Javascript must be enabled for the correct page display</div>
    </noscript>
    <a class="accessibility" href="#main">Skip to Content</a>
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="header-container">
                    <div class="info">
                        <ul class="info__language-menu">
                            <li><a href="#">УК</a></li>
                            <li><a href="#">РУ</a></li>
                            <li class="active"><a href="#">EN</a></li>
                        </ul>
                        <div class="info__address">
                            <address>
                                <a href="#">Kyiv, Mechnikova str, 141</a>
                            </address>
                        </div>
                        <div class="info__tel">
                            <a href="tel:+0800211927">0800 211 927</a>
                        </div>
                        <div class="info__social">
                            <a href="#"><span class="icon-facebook-header"></span></a>
                        </div>
                    </div>
                    <div class="logos services-page-logos" >
                        <div class="img-logos">
                            <a href="http://localhost:3010/index.html">
                                <img src="./images/logo-hlegal.svg" alt="hlegal" width="130" height="60">
                            </a>
                        </div>
                        <div class="img-slash">
                            <img src="./images/slash.png" alt="slash.png">
                        </div>
                        <p>services</p>
                    </div>
                    <nav class="navigation">
                        <input id="opener" type="checkbox">
                        <label class="opener" for="opener">
                            <span></span>
                        </label>
                        <ul class="navigation__menu">
                            <li><a href="#" class="active-tablet">about us</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">team</a></li>
                            <li><a href="#" class="active">publications</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main id="main">
            <div class="bg-top-gradient">
                <div class="main-container">
                    <div class="services servise-page-top">
                        <h2>What can we do better than others?</h2>
                        <div class="cards-wraper">
                            <div class="cards-wraper__card">
                                <div class="servises-img">
                                    <img src="./images/ecommerce.svg" alt="ecommerce.svg">
                                </div>
                                <h3>IT and e-commerce</h3>
                                <p>An endless stream of contracts, tax issues, labor relations, corporate papers - legal work distracts you from doing business. But there is not much work to do to hire an in-house lawyer.</p>  
                            </div>
                            <div class="cards-wraper__card">
                                <div class="servises-img">
                                    <img src="./images/support.svg" alt="support.svg">
                                </div>
                                <h3>Comprehensive daily
                                    legal support</h3>
                                <p>In addition, over time, the work will become the same type and uninteresting for a full-time lawyer. And we know very well how difficult it is to find a good candidate with experience in the field of information technology in Ukraine.</p>  
                            </div>
                            <div class="cards-wraper__card">
                                <div class="servises-img">
                                    <img src="./images/coprorate.svg" alt="coprorate.svg">
                                </div>
                                <h3>Structuring corporate relationships</h3>
                                <p>Instead of just providing legal services, we will hire a lawyer or a whole team that will fit into the daily life of your company.</p>  
                            </div>
                            <div class="cards-wraper__card">
                                <div class="servises-img">
                                    <img src="./images/trust.svg" alt="trust.svg">
                                </div>
                                <h3>Building contractual relations</h3>
                                <p>Once a week, or week after month, you have your own lawyer by your side. Anyone in the company can catch it at the coffee maker and just talk about current affairs instead of waiting for update status.</p>  
                            </div>
                            <div class="cards-wraper__card">
                                <div class="servises-img">
                                    <img src="./images/protection.svg" alt="protection.svg">
                                </div>
                                <h3>Protection of business, intellectual property</h3>
                                <p>And all the other time he will work on new diverse projects, so he will definitely not stop in professional development. One way or another, all Axon Partners will work for you instead of a corporate lawyer.</p>  
                            </div>
                            <div class="cards-wraper__card">
                                <div class="servises-img">
                                    <img src="./images/court.svg" alt="court.svg">
                                </div>
                                <h3>Judicial representation</h3>
                                <p>Is it a small, medium-sized company or a market leader? Local business or multinational company? Do you have your own legal department or not?</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="partners-wraper services-page-partners-wraper">
                <div class="partners-wraper__title">
                    <h4>They already trust us</h4>
                </div>
                <div class="partners-wraper__cards-img">
                    <div class="partner-img-cont"><img src="./images/hillel.png" alt="hillel.png"></div>
                    <div class="partner-img-cont"><img src="./images/wannabiz.png" alt="wannabiz.png"></div>
                    <div class="partner-img-cont"><img src="./images/tapgerine.png" alt="tapgerine.png"></div>
                    <div class="partner-img-cont"><img src="./images/3dlook.png" alt="3dlook.png"></div>
                    <div class="partner-img-cont"><img src="./images/orangear.png" alt="orangear.png"></div>
                    <div class="partner-img-cont"><img src="./images/adtelligent.png" alt="adtelligent.png"></div>
                    <div class="partner-img-cont"><img src="./images/clickky.png" alt="clickky.png"></div>
                    <div class="partner-img-cont"><img src="./images/eco-leasing.png" alt="eco-leasing.png"></div>
                    <div class="partner-img-cont"><img src="./images/ingratek.png" alt="ingratek.png"></div>
                    <div class="partner-img-cont"><img src="./images/city-par.png" alt="city-par.png"></div>
                    <div class="partner-img-cont"><img src="./images/artprint.png" alt="artprint.png"></div>
                    <div class="partner-img-cont"><img src="./images/ultimatecard.png" alt="ultimatecard.png"></div>
                </div>
            </div>
            
        </main>
        <footer id="footer">
            <div class="footer-bg">
                <div class="container-footer servise-page-cont-footer">
                    <div class="info-footer">
                        <address class="info-footer__address">
                            <a href="#">Kyiv, Mechnikova str, 141</a>
                            <a href="#">On map</a>
                        </address>
                        <div class="info-footer__contacts">
                            <a href="#"><span class="icon-facebook-header"></span></a>
                            <a href="tel:+0800211927">0800 211 927</a>
                            <a href="mailto:contact@forstudy.space">contact@forstudy.space</a>
                        </div>
                        <div class="info-footer__autor">
                            <p>© 2021 HLEGAL Law company, LLC</p>
                        </div>
                    </div>
                </div>
            </div>

        </footer> 
    </div>
    <a class="accessibility" href="#wrapper">Back to top</a>
</body>
</html>