noscript {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 14px;
    color: #000;
    background: #ff8f8f;
    display: block;
    padding: 5px 0;
    text-align: center;
    z-index: 99999;
  }
  